:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --vey-dark-cyan: hsl(179, 100%, 13%);
    --paragraph-white: hsla(0, 0%, 100%, 0.75);
    --light-grey: hsl(0, 0%, 95%);
}

body {
    margin: 0px;
}

.contentwrapper {
    width: 1000px;
    height: 576px;
    background-color: var(--light-grey);
    margin-left: 200px;
    margin-top: 30px;
}

.container {
    width: 780px;
    height: 420px;
    display: flex;
    border-radius: 5px;
    padding: 80px;
    
}

.first-column {
    width: 260px;
    display: flex;
    background-color: var(--bright-orange);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.second-column {
    width: 260px;
    display: flex;
    background-color: var(--dark-cyan);
}
.third-column {
    width: 260px;
    display: flex;
    background-color: var(--vey-dark-cyan);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.center {
    margin: 40px;
}

h2 {
    color: var(--light-grey);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: xx-large;
}
p {
    
    color: var(--paragraph-white);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: small;
    line-height: 22px;
}

.btn {
    width: 125px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    margin-top: 50px;
    background-color: var(--light-grey);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.one:hover, .two:hover, .three:hover {
    background-color: transparent;
    color: var(--light-grey);
    border: 1px solid var(--paragraph-white);
    cursor: pointer;
}

.three {
    color: var(--vey-dark-cyan);
}

.two {
    color: var(--dark-cyan);
}

.one {
    color: var(--bright-orange);
}

@media(max-width:768px) {
    .contentwrapper {
        width: 400px;
        height: 1400px;
        margin-left: 60px;
        margin-bottom: 25px;
    }

    .container {
        width: 250px;
        flex-direction: column;

    }
    .first-column {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .third-column {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .attribution {
        margin-top: 820px;
    }
}